p {
  font-family: 'Lato';
}

.logo-text {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.myDisplay1 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 40px;
}

.myDisplay2 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 40px;
}

.myDisplay3 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 20px;
}

.comingSoonText {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #fff;
  font-size: 100px;
  z-index: 2;
}

.shoot {
  color: rgb(58, 56, 56);
}
