p {
  font-family: 'Lato';
}

.myDisplay1 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 40px;
}

.myDisplay2 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 40px;
}

.myDisplay3 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 20px;
}

.shoot {
  color: rgb(58, 56, 56);
}
