@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'config';
@import 'display';
@import 'menu';

* {
  font-family: 'Livvic', 'Lato', 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: none;
}

.containers {
  max-width: 1800px;
  margin: auto;
  position: relative;
}

.carousel-item {
  height: 700px;
}

.myImg {
  transform: translate3d(-1%, 0, 0);

  @include easeOut;

  &:hover {
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 3px solid #fff4e7;
    transform: translate3d(0, 0, 0);
  }
}

.carousel-image-1 {
  background: url('../img/home/sliderdisplay1.svg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/home/sliderdisplay2.svg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/home/sliderdisplay3.svg');
  background-size: cover;
}
.caroselFa {
  position: relative;
  top: 300px;
  opacity: 0;
  animation-name: carouselFas;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes carouselFas {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.carousel-display-3 {
  font-family: 'Livvic';
  top: 700px;
  font-weight: bold;
  font-size: 150px;
  letter-spacing: 15px;
  color: #ffffff;

  position: relative;
  animation-name: carouseldisplay3;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes carouseldisplay3 {
  0% {
    top: 700px;
    opacity: 0.1;
  }
  100% {
    top: 200px;
    opacity: 0.9;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 200px;
  width: 200px;

  background-size: 100%, 100%;
  // border-radius: 50%;
  // border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: url('../img/home/Next.svg');
  font-size: 55px;
}

.carousel-control-prev-icon:after {
  content: url('../img/home/Prev.svg');
  font-size: 55px;
}

.homeImageIcon1 {
  width: 86px;
  height: 70px;
}

.btnprimary {
  background: #fff4e7;
  font-weight: bold;

  &:hover {
    background: darken(#fff4e7, 5);
  }
}

.contact {
  border-top: solid 1px #6d6c6c;
  border-bottom: solid 1px #6d6c6c;
}

.fa {
  font-size: 20px;
  padding: 1rem;
  color: #818a91;
  background-color: #f6f6f6;
  border-radius: 60%;

  &:hover {
    color: #6d6c6c;
    background-color: #fff4e7;
  }
}

.showcase {
  background: url('../img/contact/keith-misner-h0Vxgz5tyXA-unsplash\ \(1\).jpg');
  height: 200px;
}
.showcaseDisplay {
  color: white;
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.showcaseContent {
  font-size: 100px;
}

@import 'mobile';
