@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
p {
  color: gray; }

p {
  font-family: 'Lato'; }

.logo-text {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-decoration: none; }
  .logo-text:hover {
    text-decoration: none;
    color: #fff; }

.myDisplay1 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 40px; }

.myDisplay2 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 40px; }

.myDisplay3 {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #000000;
  font-size: 20px; }

.comingSoonText {
  font-family: 'Livvic';
  font-weight: bolder;
  color: #fff;
  font-size: 100px;
  z-index: 2; }

.shoot {
  color: #3a3838; }

.menu-logo {
  position: absolute;
  z-index: 4;
  left: 50px;
  top: 25px;
  text-decoration: none;
  cursor: pointer; }
  .menu-logo:hover {
    text-decoration: none;
    cursor: pointer;
    font-size: 35px; }

.menu-btn {
  position: absolute;
  z-index: 4;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.6s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.6s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line {
      background: #000000; }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: absolute;
  height: 40vh;
  width: 100%;
  opacity: 1;
  visibility: hidden;
  z-index: 3; }
  .menu.show {
    visibility: visible;
    z-index: 3; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-bottom: solid gray 2px;
    width: 100%;
    height: 40vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    transform: translate3d(0, -200%, 0);
    transition: all 0.6s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .current > a {
    color: #000000; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 20px;
    font-family: bolder;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.1rem 0;
    color: gray;
    transition: font-size, 0.2s; }
    .menu .nav-link:hover {
      font-size: 22px; }

* {
  font-family: 'Livvic', 'Lato';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: none; }

.containers {
  max-width: 1400px;
  margin: auto;
  position: relative; }

.carousel-item {
  height: 700px; }

.myImg {
  transform: translate3d(-1%, 0, 0);
  transition: all 0.6s ease-out; }
  .myImg:hover {
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 3px solid #fff4e7;
    transform: translate3d(0, 0, 0); }

.carousel-image-1 {
  background: url("../img/home/sliderdisplay1.svg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/home/sliderdisplay2.svg");
  background-size: cover; }

.carousel-image-3 {
  background: url("../img/home/sliderdisplay3.svg");
  background-size: cover; }

.caroselFa {
  position: relative;
  top: 300px;
  opacity: 0;
  animation-name: carouselFas;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

@keyframes carouselFas {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

.carousel-display-3 {
  font-family: 'Livvic';
  top: 700px;
  font-weight: bold;
  font-size: 150px;
  letter-spacing: 15px;
  color: #ffffff;
  position: relative;
  animation-name: carouseldisplay3;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

@keyframes carouseldisplay3 {
  0% {
    top: 700px;
    opacity: 0.1; }
  100% {
    top: 200px;
    opacity: 0.9; } }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 200px;
  width: 200px;
  background-size: 100%, 100%;
  background-image: none; }

.carousel-control-next-icon:after {
  content: url("../img/home/Next.svg");
  font-size: 55px; }

.carousel-control-prev-icon:after {
  content: url("../img/home/Prev.svg");
  font-size: 55px; }

.homeImageIcon1 {
  width: 86px;
  height: 70px; }

.btnprimary {
  background: #fff4e7;
  font-weight: bold; }
  .btnprimary:hover {
    background: #ffe8ce; }

.contact {
  border-top: solid 1px #6d6c6c;
  border-bottom: solid 1px #6d6c6c; }

.fa {
  font-size: 20px;
  padding: 1rem;
  color: #818a91;
  background-color: #f6f6f6;
  border-radius: 60%; }
  .fa:hover {
    color: #6d6c6c;
    background-color: #fff4e7; }

.fa-facebook {
  padding: 1rem 1.2rem; }

.showcase {
  background: #616a64;
  height: 300px; }

.showcase1 {
  background: #616a64;
  height: 900px; }

.showcaseDisplay {
  color: white;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center; }

.showcaseDisplay1 {
  color: white;
  height: 900px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center; }

.showcaseContent {
  font-size: 70px;
  font-weight: bolder; }

.comingSoon {
  background: url(../img/home/gallery/IMG_2928-Edit.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center; }
  .comingSoon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1400px;
    opacity: 0.9;
    background: rgba(0, 0, 0, 0.9); }

@media screen and (min-width: 1171px) {
  .carousel-item {
    height: 800px; }
  .carousel-display-3 {
    font-size: 300px; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .caroselFa {
    top: 250px; }
  .carousel-item {
    height: 600px; }
  .carousel-display-3 {
    font-size: 200px;
    letter-spacing: 0px; } }

@media screen and (max-width: 768px) {
  .menu-logo {
    left: 25px;
    top: 15px; }
  .logo-text {
    font-size: 30px; }
  .comingSoonText {
    font-size: 60px; }
  .carousel-item {
    height: 350px; }
  .caroselFa {
    top: 100px; }
  .carousel-display-3 {
    font-size: 130px;
    letter-spacing: 0px; }
  @keyframes carouseldisplay3 {
    0% {
      top: 500px;
      opacity: 0.1; }
    100% {
      top: 100px;
      opacity: 0.9; } }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 20px;
    width: 20px;
    background-size: 100%, 100%;
    background-image: none; }
  .carousel-control-next-icon:after {
    content: url("/src/img/home/Next.svg");
    font-size: 55px; }
  .carousel-control-prev-icon:after {
    content: url("/src/img/home/Prev.svg");
    font-size: 55px; }
  .homeImageIcon1 {
    width: 43px;
    height: 35px; }
  .myDisplay2 {
    font-size: 40px; }
  .creative {
    width: 300px; } }

@media screen and (max-width: 500px) {
  .menu-logo {
    left: 15px;
    top: 5px; }
  .close .btn-line {
    background: black; }
  .myDisplay1 {
    font-size: 35px; }
  .menu-btn {
    position: fixed;
    right: 15px;
    top: 15px; }
  .menu {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    opacity: 1; }
    .menu-nav {
      height: 700px;
      opacity: 1;
      overflow: hidden; }
    .menu-nav {
      margin: 0;
      padding: 0;
      font-weight: bold;
      list-style: none;
      background: white;
      transform: translate3d(200%, 0, 0);
      transition: all 0.6s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
    .menu .current > a {
      color: #000000; }
    .menu .nav-link {
      font-size: 15px;
      padding: 0.2rem 0; }
      .menu .nav-link:hover {
        font-size: 17px; }
  .carousel-item {
    height: 200px; }
  .caroselFa {
    top: 50px; }
  .carousel-display-3 {
    font-size: 70px;
    letter-spacing: 10px;
    animation-name: carouseldisplay3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; }
  @keyframes carouseldisplay3 {
    0% {
      top: 250px; }
    100% {
      top: 50px; } }
  .carousel-control-next-icon:after {
    content: none;
    height: 5px;
    width: 5px; }
  .carousel-control-prev-icon:after {
    content: none;
    height: 5px;
    width: 5px; }
  .homeImageIcon1 {
    width: 43px;
    height: 35px; }
  .myDisplay2 {
    font-size: 40px; }
  .creative {
    width: 300px; }
  .showcase {
    height: 200px; }
  .showcaseDisplay {
    height: 200px; }
  .showcaseContent {
    font-size: 50px; } }
